.contact_container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the items horizontally */
  text-align: center; /* Align the text inside the items to center */
  //   background: url("https://images.unsplash.com/photo-1504805526346-8d03d1ca73de?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background: url('https://images.unsplash.com/photo-1453928582365-b6ad33cbcf64?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2673&q=80');
  background-size: cover;
  background-repeat: none;
  background-position: center;
  padding: 5rem;
  border-radius: 10px;
}

.media_info {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  margin-bottom: var(--mb-2);
  cursor: default;
}

.media_box {
  width: 160px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
  text-align: center;
  padding: 1rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 15px;
  background-color: var(--container-color);
  justify-content: center;
  text-align: center;
}

.content_container {
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
  padding: 1rem 1rem;
  margin-bottom: var(--mb-2);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 15px;
  background-color: var(--container-color);
}

a .media_icon {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: var(--mb-0-5);
  text-decoration: none;
}

.media_title {
  color: #333;
}

.contact_content {
  color: #333;
  cursor: default;
}

@media screen and (max-width: 768px) {
  .contact_container {
    padding: 2rem;
  }

  .media_box {
    width: 100px;
  }

  .media_info {
    gap: 1rem;
  }

  a .media_icon {
    font-size: 1.2rem;
  }

  .media_title {
    font-size: var(--small-font-size);
  }
}

@media screen and (max-width: 480px) {
  .contact_container {
    padding: 1rem;
  }

  .media_box {
    width: 90px;
    padding: 0.8rem 0.8rem;
  }

  a .media_icon {
    font-size: 1rem;
  }

  .media_title {
    font-size: var(--small-font-size);
    color: #000;
  }

  .contact_content {
    font-size: var(--small-font-size);
    color: #000;
  }
}

// media screen size 280px
@media screen and (max-width: 320px) {
  .contact_container {
    padding: 0.8rem;
  }

  .media_box {
    width: 60px;
    padding: 0.6rem 0.6rem;
  }

  a .media_icon {
    font-size: 1.2rem;
  }

  .media_title {
    display: none;
  }

  .contact_content {
    font-size: var(--small-font-size);
    color: #000;
  }
}
