* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

// REUSABLE CSS CLASSES

.section {
  padding: 6rem 0 2rem;
}

.section_title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section_title::after {
  content: '';
  display: inline-block;
  width: 32px;
  padding-top: 3px;
  border-bottom: 3px solid var(--title-color-dark);
}

.section_subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 4rem;
}

.section_subtitle,
.section_title {
  text-align: center;
}

// LAYOUT

.container {
  max-width: 1268px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.2rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

// BUTTONS

.button {
  display: inline-block;
  color: var(--title-color);
  padding: 1.25rem 1.3rem;
  border: 1px solid var(--title-color-dark);
  font-weight: var(--font-medium);
  transition: color 0.3s ease-in-out;
}

.button:hover {
  background-color: var(--title-color-dark);
  color: white;
}

.button_icon {
  margin-left: var(--mb-0-5);
}

.button-flex {
  display: inline-flex;
  align-items: center;
}

.canvas-loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

// BREAKPOINTS - RESPONSIVE

// Large devices
@media screen and (max-width: 992px) {
  .container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }

  .button {
    padding: 1rem 1.1rem;
  }
}

// Medium devices
@media screen and (max-width: 768px) {
  body {
    margin: 0 0 var(--header-height) 0;
  }

  .section {
    padding: 2rem 0 4rem;
  }

  .section_title::after {
    width: 18px;
  }

  .section_subtitle {
    margin-bottom: var(--mb-3);
  }
}

@media screen and (max-width: 576px) {
}

// Small devices
@media screen and (max-width: 350px) {
  :root {
    --big-font-size: 2.25rem;
  }

  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
}
